Full OID not being translated

Ok, still exploring and I know this is in beta.  but I don't know if I correctly configured, or Mibs are not fully translating yet.

Config
```
input{
snmp {
    oid_root_skip => 0
    interval => 30
    walk => [
		".1.3.6.1.2.1.1",
		".1.3.6.1.2.1.2"
            ]
    mib_paths => [ "/etc/logstash/smi" ]
    hosts => [
	{
         host => "udp:127.0.0.1/161" 
         community => "public"
        }
	]
    add_field => { "dst_index" => "snmp" }
}
}
```

DIC Directory
```
[root@host ~]# ls /etc/logstash/smi
AGENTX-MIB.txt.dic                       IP-FORWARD-MIB.txt.dic        SNMP-FRAMEWORK-MIB.txt.dic
BRIDGE-MIB.txt.dic                       IP-MIB.txt.dic                SNMP-MPD-MIB.txt.dic
DISMAN-EVENT-MIB.txt.dic                 IPV6-ICMP-MIB.txt.dic         SNMP-NOTIFICATION-MIB.txt.dic
DISMAN-SCHEDULE-MIB.txt.dic              IPV6-MIB.txt.dic              SNMP-PROXY-MIB.txt.dic
DISMAN-SCRIPT-MIB.txt.dic                IPV6-TCP-MIB.txt.dic          SNMP-TARGET-MIB.txt.dic
EtherLike-MIB.txt.dic                    IPV6-UDP-MIB.txt.dic          SNMP-USER-BASED-SM-MIB.txt.dic
HCNUM-TC.txt.dic                         MTA-MIB.txt.dic               SNMP-USM-AES-MIB.txt.dic
HOST-RESOURCES-MIB.txt.dic               NET-SNMP-MIB.txt.dic          SNMP-USM-DH-OBJECTS-MIB.txt.dic
HOST-RESOURCES-TYPES.txt.dic             NETWORK-SERVICES-MIB.txt.dic  SNMPv2-MIB.txt.dic
IANA-ADDRESS-FAMILY-NUMBERS-MIB.txt.dic  NOTIFICATION-LOG-MIB.txt.dic  SNMPv2-SMI.txt.dic
IANAifType-MIB.txt.dic                   RFC1155-SMI.txt.dic           SNMPv2-TM.txt.dic
IANA-LANGUAGE-MIB.txt.dic                RFC1213-MIB.txt.dic           SNMP-VIEW-BASED-ACM-MIB.txt.dic
IANA-RTPROTO-MIB.txt.dic                 RMON-MIB.txt.dic              TCP-MIB.txt.dic
IF-INVERTED-STACK-MIB.txt.dic            SCTP-MIB.txt.dic              TRANSPORT-ADDRESS-MIB.txt.dic
IF-MIB.txt.dic                           SMUX-MIB.txt.dic              UCD-SNMP-MIB.txt.dic
INET-ADDRESS-MIB.txt.dic                 SNMP-COMMUNITY-MIB.txt.dic    UDP-MIB.txt.dic
```
JSON
```j
{
  "_index": "snmp-2018.07.11",
  "_type": "logs",
  "_id": "QSzUiWQBjTw4GmjAnbSq",
  "_version": 1,
  "_score": null,
  "_source": {
    "1.org.dod.internet.mgmt.1.2.2.1.4.7": 1500,
    "1.org.dod.internet.mgmt.1.2.2.1.3.4": 6,
    "1.org.dod.internet.mgmt.1.2.2.1.7.6": 1,
    "1.org.dod.internet.mgmt.1.2.2.1.3.6": 6,
    "1.org.dod.internet.mgmt.1.2.2.1.17.6": 914166031,
     ..... deleted for brevity .....................
```

So if I do a translate on this "field name" it shows there should be more to the "OID" to String "mib-2(1) interfaces(2) ifTable(2) ifEntry(1) ifInOctets(10) 1" 

I am loading the RFC1213-MIB.txt.dic  am i missing something or is this "Functioning as designed"

```
[root@host ~]# snmptranslate -Td  1.org.dod.internet.mgmt.1.2.2.1.10.1
IF-MIB::ifInOctets.1
ifInOctets OBJECT-TYPE
  -- FROM	IF-MIB, RFC1213-MIB
  SYNTAX	Counter32
  MAX-ACCESS	read-only
  STATUS	current
  DESCRIPTION	"The total number of octets received on the interface,
            including framing characters.

            Discontinuities in the value of this counter can occur at
            re-initialization of the management system, and at other
            times as indicated by the value of
            ifCounterDiscontinuityTime."
::= { iso(1) org(3) dod(6) internet(1) mgmt(2) mib-2(1) interfaces(2) ifTable(2) ifEntry(1) ifInOctets(10) 1 }
```

Thanks for submitting this issue @edperry. Excellent question, I will run some tests locally and get back to you. 
To be sure, are you using the latest beta4 version?

```
[root@xxxxx logstash]# ./bin/logstash-plugin list --verbose | grep snmp
logstash-input-snmp (0.1.0.beta4)
```
It appears I did install beta4  :) 


If this helps here is my Pipeline and SMI Dics

[pl-snmp.tar.gz](https://github.com/logstash-plugins/logstash-input-snmp/files/2202894/pl-snmp.tar.gz)


Hi @eperry  since it's been quite some time since the last followup - has anything changed regarding this issue? If not, could you try recreating the dic files but by also forcing the modules to path to the directory containing these mibs? See discussion around this in https://github.com/logstash-plugins/logstash-input-snmp/issues/16#issuecomment-418890883 and https://github.com/logstash-plugins/logstash-input-snmp/issues/19#issuecomment-418857578

@edperry looking back at the missing OID translations it seems like the IF-MIB is missing somehow. The example you gave

> "1.org.dod.internet.mgmt.1.2.2.1.4.7": 1500,
> "1.org.dod.internet.mgmt.1.2.2.1.3.4": 6,
> "1.org.dod.internet.mgmt.1.2.2.1.7.6": 1,
> "1.org.dod.internet.mgmt.1.2.2.1.3.6": 6,
> "1.org.dod.internet.mgmt.1.2.2.1.17.6": 914166031,

are all IF-MIBs *1.3(org).6(dod).1(internet).2(mgmt)*.**1(MIB-2).2(MIB-2 Interfaces)**
`1.3.6.1.2.1.2` should be within IF-MIB so I am wondering if somehow the IF-MIB dic conversion might have gone wrong?

Hazah, while your thoughts were not my issue completely my issue,  you got me thinking that maybe I had the wrong file to convert

I was converting files in /usr/share/snmp/mibs/*.txt  files  and they were partially working. 

However I did a little searching around the RHEL OS  and found a /usr/share/mibs/ietf/* files (without the text extension) so I processed every file in there 

```
export SMIPATH="/usr/share/mibs/ietf/:/usr/share/snmp/mibs:"; for f in `find /usr/share/mibs/ietf/ -type f`; do echo "------$f------"; smidump --level=6 -k -f python $f -o `basename $f`.dic; done
```

A little overkill but here is a list of all the files 
```
[root@hd1pbk01lx rhel6_mibs_dics]# ls
ACCOUNTING-CONTROL-MIB.dic          DNS-SERVER-MIB.dic                           HC-PerfHist-TC-MIB.dic                  MIP-MIB.dic                       RADIUS-DYNAUTH-SERVER-MIB.dic  SNMP-USM-DH-OBJECTS-MIB.dic
ADSL2-LINE-MIB.dic                  DOCS-BPI-MIB.dic                             HC-RMON-MIB.dic                         MOBILEIPV6-MIB.dic                RAQMON-MIB.dic                 SNMPv2-MIB.dic
ADSL2-LINE-TC-MIB.dic               DOCS-CABLE-DEVICE-MIB.dic                    HDSL2-SHDSL-LINE-MIB.dic                Modem-MIB.dic                     RDBMS-MIB.dic                  SNMPv2-SMI.dic
ADSL-LINE-EXT-MIB.dic               DOCS-IETF-BPI2-MIB.dic                       HOST-RESOURCES-MIB.dic                  MPLS-FTN-STD-MIB.dic              RFC1065-SMI.dic                SNMPv2-TM.dic
ADSL-LINE-MIB.dic                   DOCS-IETF-CABLE-DEVICE-NOTIFICATION-MIB.dic  HOST-RESOURCES-TYPES.dic                MPLS-L3VPN-STD-MIB.dic            RFC1155-SMI.dic                SNMPv2-USEC-MIB.dic
ADSL-TC-MIB.dic                     DOCS-IETF-QOS-MIB.dic                        HPR-IP-MIB.dic                          MPLS-LC-ATM-STD-MIB.dic           RFC1158-MIB.dic                SNMP-VIEW-BASED-ACM-MIB.dic
AGENTX-MIB.dic                      DOCS-IETF-SUBMGT-MIB.dic                     HPR-MIB.dic                             MPLS-LC-FR-STD-MIB.dic            RFC1213-MIB.dic                SONET-MIB.dic
AGGREGATE-MIB.dic                   DOCS-IF-MIB.dic                              IANA-ITU-ALARM-TC-MIB.dic               MPLS-LDP-ATM-STD-MIB.dic          RFC1269-MIB.dic                SOURCE-ROUTING-MIB.dic
ALARM-MIB.dic                       DOT12-IF-MIB.dic                             IF-CAP-STACK-MIB.dic                    MPLS-LDP-FRAME-RELAY-STD-MIB.dic  RFC1271-MIB.dic                SSPM-MIB.dic
APM-MIB.dic                         DOT12-RPTR-MIB.dic                           IFCP-MGMT-MIB.dic                       MPLS-LDP-GENERIC-STD-MIB.dic      RFC1285-MIB.dic                SYSAPPL-MIB.dic
APPC-MIB.dic                        DOT3-EPON-MIB.dic                            IF-INVERTED-STACK-MIB.dic               MPLS-LDP-STD-MIB.dic              RFC1316-MIB.dic                T11-FC-FABRIC-ADDR-MGR-MIB.dic
APPLETALK-MIB.dic                   DOT3-OAM-MIB.dic                             IF-MIB.dic                              MPLS-LSR-STD-MIB.dic              RFC1381-MIB.dic                T11-FC-FABRIC-CONFIG-SERVER-MIB.dic
APPLICATION-MIB.dic                 DS0BUNDLE-MIB.dic                            IGMP-STD-MIB.dic                        MPLS-TC-STD-MIB.dic               RFC1382-MIB.dic                T11-FC-FABRIC-LOCK-MIB.dic
APPN-DLUR-MIB.dic                   DS0-MIB.dic                                  INET-ADDRESS-MIB.dic                    MPLS-TE-STD-MIB.dic               RFC1414-MIB.dic                T11-FC-FSPF-MIB.dic
APPN-MIB.dic                        DS1-MIB.dic                                  INTEGRATED-SERVICES-GUARANTEED-MIB.dic  MSDP-MIB.dic                      RIPv2-MIB.dic                  T11-FC-NAME-SERVER-MIB.dic
APPN-TRAP-MIB.dic                   DS3-MIB.dic                                  INTEGRATED-SERVICES-MIB.dic             MTA-MIB.dic                       RMON2-MIB.dic                  T11-FC-ROUTE-MIB.dic
APS-MIB.dic                         DSA-MIB.dic                                  INTERFACETOPN-MIB.dic                   NAT-MIB.dic                       RMON-MIB.dic                   T11-FC-RSCN-MIB.dic
ARC-MIB.dic                         DSMON-MIB.dic                                IPATM-IPMC-MIB.dic                      NETWORK-SERVICES-MIB.dic          ROHC-MIB.dic                   T11-FC-VIRTUAL-FABRIC-MIB.dic
ATM2-MIB.dic                        EBN-MIB.dic                                  IP-FORWARD-MIB.dic                      NHRP-MIB.dic                      ROHC-RTP-MIB.dic               T11-FC-ZONE-SERVER-MIB.dic
ATM-ACCOUNTING-INFORMATION-MIB.dic  EFM-CU-MIB.dic                               IPMCAST-MIB.dic                         NOTIFICATION-LOG-MIB.dic          ROHC-UNCOMPRESSED-MIB.dic      T11-TC-MIB.dic
ATM-MIB.dic                         ENTITY-MIB.dic                               IP-MIB.dic                              OPT-IF-MIB.dic                    RS-232-MIB.dic                 TCP-ESTATS-MIB.dic
ATM-TC-MIB.dic                      ENTITY-SENSOR-MIB.dic                        IPMROUTE-STD-MIB.dic                    OSPF-MIB.dic                      RSTP-MIB.dic                   TCPIPX-MIB.dic
BGP4-MIB.dic                        ENTITY-STATE-MIB.dic                         IPOA-MIB.dic                            OSPF-TRAP-MIB.dic                 RSVP-MIB.dic                   TCP-MIB.dic
BLDG-HVAC-MIB.dic                   ENTITY-STATE-TC-MIB.dic                      IPS-AUTH-MIB.dic                        PARALLEL-MIB.dic                  RTP-MIB.dic                    TE-LINK-STD-MIB.dic
BRIDGE-MIB.dic                      ETHER-CHIPSET-MIB.dic                        IPSEC-SPD-MIB.dic                       P-BRIDGE-MIB.dic                  SCSI-MIB.dic                   TE-MIB.dic
CHARACTER-MIB.dic                   EtherLike-MIB.dic                            IPV6-FLOW-LABEL-MIB.dic                 PerfHist-TC-MIB.dic               SCTP-MIB.dic                   TIME-AGGREGATE-MIB.dic
CIRCUIT-IF-MIB.dic                  ETHER-WIS.dic                                IPV6-ICMP-MIB.dic                       PIM-MIB.dic                       SFLOW-MIB.dic                  TN3270E-MIB.dic
CLNS-MIB.dic                        FCIP-MGMT-MIB.dic                            IPV6-MIB.dic                            PIM-STD-MIB.dic                   SIP-COMMON-MIB.dic             TN3270E-RT-MIB.dic
COFFEE-POT-MIB.dic                  FC-MGMT-MIB.dic                              IPV6-MLD-MIB.dic                        PINT-MIB.dic                      SIP-MIB.dic                    TOKENRING-MIB.dic
COPS-CLIENT-MIB.dic                 FDDI-SMT73-MIB.dic                           IPV6-TCP-MIB.dic                        PKTC-IETF-MTA-MIB.dic             SIP-SERVER-MIB.dic             TOKEN-RING-RMON-MIB.dic
DECNET-PHIV-MIB.dic                 FIBRE-CHANNEL-FE-MIB.dic                     IPV6-UDP-MIB.dic                        PKTC-IETF-SIG-MIB.dic             SIP-TC-MIB.dic                 TOKENRING-STATION-SR-MIB.dic
DIAL-CONTROL-MIB.dic                Finisher-MIB.dic                             ISCSI-MIB.dic                           POLICY-BASED-MANAGEMENT-MIB.dic   SIP-UA-MIB.dic                 TRANSPORT-ADDRESS-MIB.dic
DIFFSERV-CONFIG-MIB.dic             FLOW-METER-MIB.dic                           ISDN-MIB.dic                            POWER-ETHERNET-MIB.dic            SLAPM-MIB.dic                  TRIP-MIB.dic
DIFFSERV-DSCP-TC.dic                FRAME-RELAY-DTE-MIB.dic                      ISIS-MIB.dic                            PPP-BRIDGE-NCP-MIB.dic            SMON-MIB.dic                   TRIP-TC-MIB.dic
DIFFSERV-MIB.dic                    FR-ATM-PVC-SERVICE-IWF-MIB.dic               ISNS-MIB.dic                            PPP-IP-NCP-MIB.dic                SNA-NAU-MIB.dic                TUNNEL-MIB.dic
DIRECTORY-SERVER-MIB.dic            FR-MFR-MIB.dic                               ITU-ALARM-MIB.dic                       PPP-LCP-MIB.dic                   SNA-SDLC-MIB.dic               UDPLITE-MIB.dic
DISMAN-EVENT-MIB.dic                FRNETSERV-MIB.dic                            ITU-ALARM-TC-MIB.dic                    PPP-SEC-MIB.dic                   SNMP-COMMUNITY-MIB.dic         UDP-MIB.dic
DISMAN-EXPRESSION-MIB.dic           FRSLD-MIB.dic                                Job-Monitoring-MIB.dic                  Printer-MIB.dic                   SNMP-FRAMEWORK-MIB.dic         UPS-MIB.dic
DISMAN-NSLOOKUP-MIB.dic             GMPLS-LABEL-STD-MIB.dic                      L2TP-MIB.dic                            PTOPO-MIB.dic                     SNMP-MPD-MIB.dic               URI-TC-MIB.dic
DISMAN-PING-MIB.dic                 GMPLS-LSR-STD-MIB.dic                        LANGTAG-TC-MIB.dic                      Q-BRIDGE-MIB.dic                  SNMP-NOTIFICATION-MIB.dic      VDSL-LINE-EXT-MCM-MIB.dic
DISMAN-SCHEDULE-MIB.dic             GMPLS-TC-STD-MIB.dic                         LMP-MIB.dic                             RADIUS-ACC-CLIENT-MIB.dic         SNMP-PROXY-MIB.dic             VDSL-LINE-EXT-SCM-MIB.dic
DISMAN-SCRIPT-MIB.dic               GMPLS-TE-STD-MIB.dic                         MALLOC-MIB.dic                          RADIUS-ACC-SERVER-MIB.dic         SNMP-REPEATER-MIB.dic          VDSL-LINE-MIB.dic
DISMAN-TRACEROUTE-MIB.dic           GSMP-MIB.dic                                 MAU-MIB.dic                             RADIUS-AUTH-CLIENT-MIB.dic        SNMP-TARGET-MIB.dic            VPN-TC-STD-MIB.dic
DLSW-MIB.dic                        HC-ALARM-MIB.dic                             MIDCOM-MIB.dic                          RADIUS-AUTH-SERVER-MIB.dic        SNMP-USER-BASED-SM-MIB.dic     VRRP-MIB.dic
DNS-RESOLVER-MIB.dic                HCNUM-TC.dic                                 MIOX25-MIB.dic                          RADIUS-DYNAUTH-CLIENT-MIB.dic     SNMP-USM-AES-MIB.dic           WWW-MIB.dic
```

```
[root@hd1pbk01lx rhel6_mibs_dics]# /usr/share/logstash/bin/logstash -f /etc/logstash/pipeline-snmp/input-snmp.conf 2>&1 | tee -a /tmp/e
WARNING: Could not find logstash.yml which is typically located in $LS_HOME/config or /etc/logstash. You can specify the path using --path.settings. Continuing using the defaults
Could not find log4j2 configuration at path /usr/share/logstash/config/log4j2.properties. Using default config which logs errors to the console
[WARN ] 2018-09-08 11:43:40.486 [LogStash::Runner] multilocal - Ignoring the 'pipelines.yml' file because modules or command line options are specified
[INFO ] 2018-09-08 11:43:40.592 [LogStash::Runner] runner - Starting Logstash {"logstash.version"=>"6.3.0"}
[INFO ] 2018-09-08 11:43:41.136 [Converge PipelineAction::Create<main>] snmp - Using version 0.1.x input plugin 'snmp'. This plugin isn't well supported by the community and likely has no maintainer.
[INFO ] 2018-09-08 11:43:41.337 [Converge PipelineAction::Create<main>] pipeline - Starting pipeline {:pipeline_id=>"main", "pipeline.workers"=>48, "pipeline.batch.size"=>125, "pipeline.batch.delay"=>50}
[INFO ] 2018-09-08 11:43:44.283 [Converge PipelineAction::Create<main>] pipeline - Pipeline started successfully {:pipeline_id=>"main", :thread=>"#<Thread:0x6f36dc8a@/usr/share/logstash/logstash-core/lib/logstash/pipeline.rb:245 sleep>"}
[INFO ] 2018-09-08 11:43:44.308 [Ruby-0-Thread-1: /usr/share/logstash/vendor/bundle/jruby/2.3.0/gems/stud-0.0.23/lib/stud/task.rb:22] agent - Pipelines running {:count=>1, :running_pipelines=>[:main], :non_running_pipelines=>[]}
[INFO ] 2018-09-08 11:43:44.399 [Api Webserver] agent - Successfully started Logstash API endpoint {:port=>9600}
{
           "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInOctets.1" => 4125288996,
          "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutErrors.6" => 0,
            "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutQLen.4" => 0,
          "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutOctets.1" => 4125288996,
       "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInNUcastPkts.2" => 41769214,
              "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifSpeed.4" => -1,
        "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifPhysAddress.1" => "",
    "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInUnknownProtos.2" => 0,
              "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifSpeed.1" => 10000000,
        "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInUcastPkts.3" => 2251994598,
              "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifDescr.7" => "bond1",
         "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifLastChange.4" => 61009793,
               "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifType.1" => 24,
           "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInOctets.4" => 1974977640,
         "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInDiscards.7" => 0,
       "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutUcastPkts.2" => 3710212289,
      "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutNUcastPkts.4" => 0,
          "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutErrors.3" => 0,
                                                                  "@timestamp" => 2018-09-08T15:43:44.421Z,
                                                                   "dst_index" => "snmp",
         "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOperStatus.7" => 1,
        "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutDiscards.3" => 0,
        "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifPhysAddress.7" => "34:64:a9:bb:2e:92",
              "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifSpeed.6" => -1,
           "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInOctets.2" => 3809945145,
              "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifIndex.3" => 3,
         "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOperStatus.3" => 1,
                "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifMtu.2" => 1500,
           "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInOctets.5" => 0,
        "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInUcastPkts.5" => 0,
        "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInUcastPkts.4" => 2024781001,
              "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifDescr.6" => "bond0",
              "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifDescr.5" => "eth3",
               "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifType.5" => 6,
              "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifSpeed.3" => -1,
         "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifLastChange.2" => 61009793,
        "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifPhysAddress.5" => "34:64:a9:bb:2e:9a",
       "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInNUcastPkts.1" => 0,
          "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutErrors.7" => 0,
            "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutQLen.6" => 0,
         "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInDiscards.2" => 395,
       "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutUcastPkts.7" => 916053282,
                "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifMtu.4" => 1500,
         "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOperStatus.4" => 1,
         "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInDiscards.6" => 472,
          "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutOctets.5" => 0,
        "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifAdminStatus.6" => 1,
         "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifLastChange.6" => 61009793,
    "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInUnknownProtos.7" => 0,
           "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInOctets.6" => 400832797,
              "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifIndex.7" => 7,
                "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifMtu.6" => 1500,
            "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutQLen.3" => 0,
        "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutDiscards.7" => 0,
        "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifPhysAddress.2" => "34:64:a9:bb:2e:90",
    "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInUnknownProtos.6" => 0,
         "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOperStatus.6" => 1,
          "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutOctets.4" => 135663802,
        "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutDiscards.2" => 0,
        "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutDiscards.4" => 0,
       "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutUcastPkts.5" => 0,
              "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifIndex.5" => 5,
                "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifMtu.1" => 65536,
         "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOperStatus.5" => 2,
         "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInDiscards.3" => 77,
               "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifType.2" => 6,
           "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInErrors.7" => 0,
              "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifDescr.1" => "lo",
         "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifLastChange.5" => 0,
        "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutDiscards.6" => 0,
           "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifSpecific.2" => "0.0",
        "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifPhysAddress.6" => "34:64:a9:bb:2e:90",
    "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInUnknownProtos.5" => 0,
         "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOperStatus.1" => 1,
    "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInUnknownProtos.4" => 0,
       "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInNUcastPkts.4" => 1238558,
           "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifSpecific.1" => "0.0",
                                                                    "@version" => "1",
            "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutQLen.1" => 0,
               "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifType.3" => 6,
          "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutErrors.1" => 0,
        "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifPhysAddress.4" => "34:64:a9:bb:2e:92",
      "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutNUcastPkts.6" => 0,
                "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifMtu.3" => 1500,
        "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInUcastPkts.2" => 1473033654,
        "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutDiscards.5" => 0,
          "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutErrors.4" => 0,
       "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInNUcastPkts.6" => 43451944,
        "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInUcastPkts.6" => 3725028252,
              "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifSpeed.2" => -1,
        "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInUcastPkts.7" => 2024781001,
              "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifIndex.4" => 4,
           "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInErrors.2" => 0,
            "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutQLen.5" => 0,
         "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOperStatus.2" => 1,
              "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifSpeed.7" => -1,
            "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutQLen.2" => 0,
              "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifIndex.6" => 6,
                "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifMtu.7" => 1500,
           "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInErrors.6" => 0,
        "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifPhysAddress.3" => "34:64:a9:bb:2e:90",
                "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifMtu.5" => 1500,
      "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutNUcastPkts.2" => 0,
              "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifSpeed.5" => 0,
       "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInNUcastPkts.3" => 1682730,
         "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInDiscards.1" => 0,
      "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutNUcastPkts.1" => 0,
            "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutQLen.7" => 0,
        "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifAdminStatus.3" => 1,
        "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifAdminStatus.4" => 1,
        "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifAdminStatus.2" => 1,
       "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInNUcastPkts.7" => 1238558,
       "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutUcastPkts.6" => 1018315626,
       "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInNUcastPkts.5" => 0,
              "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifIndex.1" => 1,
           "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInErrors.3" => 0,
    "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInUnknownProtos.3" => 0,
         "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifLastChange.3" => 61009793,
      "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutNUcastPkts.3" => 0,
      "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutNUcastPkts.7" => 0,
          "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutOctets.3" => 1567728466,
         "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInDiscards.4" => 0,
           "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifSpecific.3" => "0.0",
           "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifSpecific.6" => "0.0",
               "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifType.6" => 6,
        "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInUcastPkts.1" => 335932658,
           "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifSpecific.4" => "0.0",
               "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifType.4" => 6,
        "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifAdminStatus.5" => 2,
        "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutDiscards.1" => 0,
          "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutOctets.7" => 135663802,
       "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutUcastPkts.3" => 1603070633,
       "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutUcastPkts.4" => 916053282,
         "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifLastChange.7" => 61009793,
        "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifAdminStatus.1" => 1,
              "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifDescr.3" => "eth1",
           "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInErrors.5" => 0,
       "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutUcastPkts.1" => 335932658,
         "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifLastChange.1" => 0,
              "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifIndex.2" => 2,
          "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutErrors.2" => 0,
              "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifDescr.2" => "eth0",
               "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifType.7" => 6,
          "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutErrors.5" => 0,
         "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInDiscards.5" => 0,
          "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutOctets.2" => 3845142136,
           "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInOctets.3" => 885854948,
           "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifSpecific.5" => "0.0",
        "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifAdminStatus.7" => 1,
           "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifSpecific.7" => "0.0",
                             "1.org.dod.internet.mgmt.1.interfaces.ifNumber.0" => 7,
           "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInErrors.4" => 0,
          "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutOctets.6" => 1117903306,
      "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifOutNUcastPkts.5" => 0,
              "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifDescr.4" => "eth2",
           "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInErrors.1" => 0,
    "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInUnknownProtos.1" => 0,
           "1.org.dod.internet.mgmt.1.interfaces.ifTable.ifEntry.ifInOctets.7" => 1974977640
}
```

so as you can see we are working perfectly at least for these mibs :100:  one you have read the comments we can close this issue

Yes lets go ahead and close. I just wanted to make sure someone read the success

FYI - I just pushed #25 to add all libsmi `ietf` MIBs into the plugin. That should make it more easy to get started. I will probably push a new beta shortly with that and a few other fixes I want in.